@inherits UmbracoViewPage<PageHeaderViewModel>
@using Umbraco.Web.Mvc


<div class="page-header">
    @if (!string.IsNullOrEmpty(Model.Trumpet))
    {
        <small class="trompet">@Model.Trumpet</small>
    }
    @if (!string.IsNullOrEmpty(Model.Headline))
    {
        <h1>@Html.Raw(Model.Headline)</h1>
    }
    @if (!string.IsNullOrEmpty(Model.Lead))
    {
        <p class="lead">@Model.Lead</p>
    }
    @if (Model.Date != null && Model.Date.Value.Year > 1)
    {
        <time>@Model.Date.Value.ToString("dd. MMMM yyyy")</time>
    }
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <small class="byline">Af: @Html.Raw(Model.Author)</small>
    }
    <div class="page-header__spacer"></div>
</div>
