@inherits UmbracoViewPage<SoMeViewModel>

<ul class="so-me-list">
    @if(!string.IsNullOrEmpty(Model.FacebookUrl))
    {
        <li>
            <a href="@Model.FacebookUrl">
                <div class="fa fa-facebook fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.TwitterUrl))
    {
        <li>
            <a href="@Model.TwitterUrl">
                <div class="fa fa-twitter fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.LinkedInUrl))
    {
        <li>
            <a href="@Model.LinkedInUrl">
                <div class="fa fa-linkedin fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.InstagramUrl))
    {
        <li>
            <a href="@Model.InstagramUrl">
                <div class="fa fa-instagram fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.VimeoUrl))
    {
        <li>
            <a href="@Model.VimeoUrl">
                <div class="fa fa-vimeo fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.YouTubeUrl))
    {
        <li>
            <a href="@Model.YouTubeUrl">
                <div class="fa fa-youtube fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
    @if(!string.IsNullOrEmpty(Model.FlickrUrl))
    {
        <li>
            <a href="@Model.FlickrUrl">
                <div class="fa fa-flickr fa--border-circle fa--color-brand"></div>
            </a>
        </li>
    }
</ul>